<template>
  <nuxt-link to='/' class="item">
    <img src='/img/allstar-logo-inverse-small.png' alt='allstar' />{{text}}
  </nuxt-link>
</template>

<style scoped>
  img {
    position: relative;
    top: -7px;
  }
</style>

<script>
export default {
  props: ['text']
}
</script>
