<template>
  <sui-container text>
    hello world

    <ul>
      <li v-for='user in users'> {{user.username}}</li>
    </ul>
    <Logo />
  </sui-container>
</template>

<script>
import Logo from '~/components/Logo.vue'
import gql from 'graphql-tag'
export default {
  components: {
    Logo
  }
, apollo: {
    users: {
      prefetch: false
    , query: gql`{
        users {
          username
          email
        }
      }`
    }
  }
  , data() {
      return {
      }
    }
}
</script>

