<template lang="html">
  <sui-form>
    <sui-form-field required>
      <label>email</label>
      <input placeholder="username@domain.com" type='email' v-model.trim="email">
    </sui-form-field>
    <sui-form-field required>
      <label>password</label>
      <input placeholder="password" type="password" v-model.trim="password">
    </sui-form-field>
    <div class="ui error message">
      <p>{{message}}</p>
    </div>
    <sui-button secondary v-on:click="login">Submit</sui-button>
  </sui-form>
</template>

<script>
import axios from 'axios'
export default {
  name: 'login-form'
, data() {
    return {email: undefined, password: undefined, message: undefined, state: 'success'}
  }
, methods: {
    login(evt) {
      evt.preventDefault()
      axios.post('/session', {
        email: this.email
      , password: this.password
      })
      .catch((err) => {
        this.message = err.message
        this.state = 'error'
        console.log(err.message)
      })
    }
  }
}
</script>
